@page "/"
@using System.Threading.Tasks
@using WeatherApp.Models;

<h3>Weather App</h3>

<p>Enter a city name:</p>
<input @bind="cityName" />
<button @onclick="GetWeather">Get Weather</button>

@if (weatherData != null)
{
    <h4>@weatherData.Name</h4>
    <p>Temperature: @weatherData.Temperature °C</p>
    <p>Humidity: @weatherData.Humidity %</p>
    <p>Description: @weatherData.Description</p>
}

@code {
    private string cityName;
    private WeatherData weatherData;
    private WeatherService weatherService;

    protected override async Task OnInitializedAsync()
    {
        weatherService = new WeatherService(new HttpClient());
    }

    private async Task GetWeather()
    {
        weatherData = await weatherService.GetWeatherData(cityName);
    }
}
