@page "/"
@using System.Threading.Tasks
@using WeatherApp.Models;

<h3>Weather App</h3>

<p>Ingrese el nombre de una ciudad:</p>
<input @bind="cityName" />
<button @onclick="GetWeather">Obtener el clima</button>

<WeatherInfo WeatherData="weatherData" ></WeatherInfo>

@code {
    private string? cityName;
    private WeatherData? weatherData;
    private WeatherService? weatherService;

    protected override async Task OnInitializedAsync()
    {
        weatherService = new WeatherService(new HttpClient());
    }

    private async Task GetWeather()
    {
        weatherData = await weatherService.GetWeatherData(cityName);

    }
}
