@using WeatherApp.Models;

@if (WeatherData != null)
{
    <p>Ciudad: @WeatherData.Name</p>
    <p>Temperatura: @WeatherData.Temperature °C</p>
    <p>Humedad: @WeatherData.Humidity %</p>
    <p>Descripción: @WeatherData.Description</p>
}

@code {
    [Parameter]
    public WeatherData? WeatherData { get; set; }
}
